@page "/registrado/create"
@model RazorPages1.Pages.Registrado.CreateModel

    @{
        ViewData["Title"] = "Create";
    }

    <h1>Create</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">

            <form method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="collection.Identificacion" class="control-label"></label>
                    <input asp-for="collection.Identificacion" class="form-control" />
                    <span asp-validation-for="collection.IdRegistrado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="collection.Nombres" class="control-label"></label>
                    <input asp-for="collection.Nombres" class="form-control" />
                    <span asp-validation-for="collection.Nombres" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="collection.Apellidos" class="control-label"></label>
                    <input asp-for="collection.Apellidos" class="form-control" />
                    <span asp-validation-for="collection.Apellidos" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn-lg btn-warning" />
                </div>

            </form>

        </div>
    </div>